HAZI/HAZI06/src/__pycache__/Node.cpython-39.pyc
HAZI/HAZI06/src/__pycache__/DecisionTreeClassifier.cpython-39.pyc
HAZI/HAZI06/__pycache__/NJCleaner.cpython-39.pyc
GYAK/GYAK08/__pycache__/LinearRegressionSkeleton.cpython-39.pyc
